:root {
    --color1: #ECE5C7;
    --color2: #CDC2AE;
    --color3: #354259;
    --color4: #C2DED1;
    --color5: #e6e6e6;
    --color6: #d1d1d1;
    --primary: #5056ad;
    --secondary: #51575a;
    --success: #4C904D;
    --warning: #EFA00F;
    --danger: #E86163;
    --info: #5E7986;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color1);
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

nav.titleBar {
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: var(--color3);
    padding: 8px;
    margin-bottom: 10px;
}

.fitParent {
    width: 100%;
    height: 100%;
}

.fitParent-height {
    height: 100%;
}

.fitParent-width {
    width: 100%;
}

nav.titleBar img.logo {
    width: 300px;
    height: 100px;
}

nav.titlebar .nav-toleft {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
}

nav.titlebar .nav-toright {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 3px;
}

nav.titlebar .icon {
    width: 32px;
    height: 32px;
}

a.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    font-size: 18px;
    gap: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

a.btn:hover::after {
    content: '';
    background-color: rgba(0, 0, 0, .1);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

a.btn.btn-primary {
    background-color: var(--primary);
    color: var(--color5);
}

a.btn.btn-secondary {
    background-color: var(--secondary);
    color: var(--color5);
}

a.btn.btn-success {
    background-color: var(--success);
    color: var(--color5);
}

a.btn.btn-danger {
    background-color: var(--danger);
    color: var(--color5);
}

a.btn.btn-info {
    background-color: var(--info);
    color: var(--color5);
}

a.btn.btn-warning {
    background-color: var(--warning);
    color: var(--color5);
}

a.btn.btn-light {
    background-color: var(--color5);
    color: var(--color3);
}

.container {
    width: 80%;
    margin: 5px auto;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: var(--color2);
    gap: 3px;
    display: flex;
}

.container.flexcolumn {
    flex-direction: column;
}

.container.flexrow {
    flex-direction: row;
}

input {
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: var(--color6);
}

input:hover {
    background-color: var(--color5);
}

input:focus {
    border: 1px solid var(--color6);
}